* {
  background-color: #ed8a63;
}

h1 {
  font-size: 60px;
  color: #3a4660;
  font-weight: 600;
  text-align: center;
  padding: 20px;
}

h2{
 font-size: 6vw; 
  font-weight: 600;
  color: #3a4660;
    padding: 20px;
}

h3 {
  font-size: 1.3rem;
  color:#845007
    padding: 20px;
}

nav {
  padding: 20px 0 30px 10px;
display: flex;
 text-align: center;
  margin: 20px auto;
}
a {
  background-color: #3a4660;
  display: inline-block;
    color:#c9af98;
  text-decoration: none;
  padding: 20px;
  border: 5px outset #845007;
  border-radius: 50%;
  transition-duration: .3s;
  margin: 5px;
}

a: hover {
 background-color: #845007;
    border: 5px outset #3a4660;
}

li {
  font-size: 1.2rem;

ol,
ul {
  padding left: 40 px;
}

ol, li {
  list-style-image: url("../images/favicon.ico");
  padding: 10 px;
}

ul, li {
  list-style-type: circle;
    padding 5px;
  width: 50%
    font-size: 1.5rem;
  }

.image-container {
  margin:auto;
  text-align: center;
}
  
  .image-container img {
    width: 50%;
      height:auto;
  }

.recipe {
  border-bottom: 5px solid #845007
    padding: 20px;
  margin: 0 30 px 30px 30px;
}

ul {
  padding-bottom: 10px;
 border-bottom: 5px solid #3a4660;
}
  
.overlay {
  z-index: 2
  text-align: center;
  width: 40%;;
  max-height: 100%;
  background color: #000;
opacity: .7;
  }
