* {
  background-color: #ed8a63;
}

h1 {
  font-size:2rem;
  color: #3a4660;
  font-weight: 600;
  text-align: center;
  padding: 20px;
}

h2{
 font-size: 1.5rem; 
  color: #845007
    padding: 20px;
}

h3 {
  font-size: 1.3rem;
  color:#845007
    padding: 20px;
}

nav {
  padding: 20px 0 30px 10px;
}
a {
  background-color: #3a4660;
    color:#c9af98;
  text-decoration: none;
  padding: 20pxx;
}

ol,
ul {
  padding left: 40 px;
}
